<div class="center padded white_bg">
    <div class="content padded">
        <div class="padded">
            <h1>No estas convencido? Mira lo que e construido!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Gestion empresarial</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, a.</p>
                <a href="#" class="orange desplazar">Link aqui</a>
            </div>

            <div class="card third">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, sed tenetur!</p>
                <a href="#" class="orange desplazar">Link aqui</a>
            </div>

            <div class="card third">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni.</p>
                <a href="#" class="orange desplazar">Link aqui</a>
            </div>
        </div>
    </div>
</div>