<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrollo con pasion sistemas para todo tipo de negocios.</h1>
                <p>Tengo años de experiencia y de trabajo, espero poder ayudarte!</p>
            </div>
            <div class="right padded">
                <h1>Podemos conversar lo que quieras!</h1>
                <p>Solo enviame un correo <a href="#contacto" class="orange desplazar">Clickeando aqui!</a></p>
            </div>
        </div>
    </div>
</div>
